:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.molecule-viewer {
  width: 600px;
  height: 400px;
  border: 2px solid #646cff;
  margin: 2rem auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: white; /* Ensure background is white for the molecule */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ensure the canvas created by 3Dmol fills the container */
.molecule-viewer canvas {
  display: block; /* Removes bottom spacing */
  width: 100% !important;
  height: 100% !important;
  cursor: grab; /* Indica que é interagível */
}

.molecule-viewer canvas:active {
  cursor: grabbing;
}
